@mixin button-reset {
  border: none;
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

%transition-active {
  transition:
    color $default-transition-duration $default-transition-function,
    background $default-transition-duration $default-transition-function,
    border-color $default-transition-duration $default-transition-function,
    opacity $default-transition-duration $default-transition-function;
}

%transition-hover {
  transition: none;
}
