html {
  tab-size: 4;
  text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button,
[role='button'] {
  cursor: pointer;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
  background-color: #0000;
  background-image: none;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
