{% macro button(props) %}
  <button
    class="button {% if props.className %} {{ props.className }}{% endif %}"
  >
    {{ props.children }}
    {% if props.chevronRight %}
      <span class="button__chevron-right">&gt;</span>
    {% endif %}
  </button>
{% endmacro %}
