@mixin make-visibility-classes($breakpoints: $grid-breakpoints) {
  @each $breakpoint in map-keys($breakpoints) {
    $_suffix: breakpoint-suffix($breakpoint, $breakpoints, '_');
    $suffix-: breakpoint-suffix($breakpoint, $breakpoints, '', '-');
    $_suffix-: breakpoint-suffix($breakpoint, $breakpoints, '_', '-');

    @include breakpoint-up($breakpoint, $breakpoints) {
      .d_#{$suffix-}none {
        display: none !important;
      }
      .d_#{$suffix-}inline {
        display: inline !important;
      }
      .d_#{$suffix-}inline-block {
        display: inline-block !important;
      }
      .d_#{$suffix-}block {
        display: block !important;
      }
      .d_#{$suffix-}table {
        display: table !important;
      }
      .d_#{$suffix-}table-row {
        display: table-row !important;
      }
      .d_#{$suffix-}table-cell {
        display: table-cell !important;
      }
      .d_#{$suffix-}flex {
        display: flex !important;
      }
      .d_#{$suffix-}inline-flex {
        display: inline-flex !important;
      }
    }
  }
}
