.some-component {
  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
  }

  &__items {
    position: relative;
    width: 230px;
    height: 140px;
    background-color: #000;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.55s ease-out;
    will-change: opacity;
    background-color: inherit;
  }
}
