{% extends "./_layouts/base.njk" %}

{% from "./components/button/button.njk" import button %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <div class="page-home page">
    <div class="container">
      <h1 class="page-home__title title">Home page</h1>
      {{ button({
        className: 'page-home__button',
        children: 'Buy something',
        chevronRight: true
      }) }}
      {% include "./components/some-component/some-component.njk" %}
      <section style="margin-top: 60px;">
        <h3 style="margin-bottom: 20px;">Image example</h3>
        {% image "./src/assets/images/woman.jpg", {alt: "Woman"} %}
      </section>
      <section style="margin-top: 60px;">
        <h3 style="margin-bottom: 20px;">Remote image example</h3>
        {% image "https://hddesktopwallpapers.in/wp-content/uploads/2015/09/butterfly-live-wallpaper-download.jpg", {alt: "Butterfly"}, 550 %}
      </section>
      <section style="margin-top: 60px;">
        <h3 style="margin-bottom: 20px;">An image inlined in the CSS example (compress such images manually!)</h3>
        <div class="page-home__inline-image-example"></div>
      </section>
      <section style="margin-top: 60px;">
        <h3 style="margin-bottom: 20px;">Vector image example (using SVG sprite)</h3>
        <svg style="fill: #111; width: 80px; height: 80px;">
          <use xlink:href="#icon-logo-example"></use>
        </svg>
      </section>
      <section>
        <div class="mt-8 px-4 py-4 rounded w-64 shadow shadow-md">
          <h3 class="bold mb-4 text-blue-600 hover-default">Tailwind example</h3>
          <div class="flex">
            <svg class="relative top-0.75 mr-2 w-5 h-5">
              <use xlink:href="#icon-kinopoisk"></use>
            </svg>
            <div class="text-sm">
              <div class="line -mb-0.75">Movies</div>
              <div class="text-gray-400">For cosy evenings</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}

