{% extends "./_layouts/base.njk" %}

{% from "./components/button/button.njk" import button %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <div class="page-home page">
    <div class="container">
      <h1 class="page-home__title title">Home page</h1>
      {{ button({
        className: 'page-home__button',
        children: 'Buy something',
        chevronRight: true
      }) }}
      {% include "./components/some-component/some-component.njk" %}
      <section style="margin-top: 60px;">
        <h3 style="margin-bottom: 20px;">Image example</h3>
        <img src="/assets/images/woman.jpg" alt="Woman">
      </section>
      <section style="margin-top: 60px;">
        <h3 style="margin-bottom: 20px;">Inline image example</h3>
        <div class="page-home__inline-image-example"></div>
      </section>
      <section style="margin-top: 60px;">
        <h3 style="margin-bottom: 20px;">Vector image example (using SVG sprite)</h3>
        <svg style="fill: #111; width: 80px; height: 80px;">
          <use xlink:href="#icon-logo-example"></use>
        </svg>
      </section>
      <section>
        <h3>Tailwind example</h3>
        <div class="grid grid-cols-3">
          <div class="btn">Test</div>
          <div class="bg-blue-600">Test <br> test2</div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}

